/* HEADER */
body header {
    @include flex(center, space-around);
    border-bottom: 3px solid crimson;
    background-color: $primary;
}

header .header__img {
    max-width: 150px;
}

header nav .menu {
    display: flex;
    gap: $spacing-small;
}

header .menu .menu__link {
    font-size: $text-medium;
}

header .menu .menu__item { 
    :hover {
        text-decoration: underline;
    }
}
/* FIN HEADER */