/* RECETAS */
.dulce {
    font-family: 'Lobster', cursive;
    font-size: 2.4em;
    text-align: center;
}

.recetas_video {
@extend .border-video;
}

video {
    width: 300px;
    justify-content: center;
    margin: 1em;
} 
/* FIN RECETAS */
