/* RECETAS */
.dulce {
    font-family: $font-secondary;
    font-size: $text-medium;
    text-align: center;
}

.recetas_video {
@extend .border-video;
}

video {
    width: 300px;
    justify-content: center;
    margin: $spacing-xsmall;
} 
/* FIN RECETAS */
