/* RECETAS */
 .page-recetas{
    display: grid;
    grid-auto-rows: auto 1fr auto;
    min-height: 100vh;
    align-items: center;
}

.dulce {
    font-family: $font-secondary;
    font-size: $text-large;
    text-align: center;
}

video {
    width: 300px;
    justify-content: center;
    margin: $spacing-xsmall;
} 
/* FIN RECETAS */
