

/* SUMATE A MI EQUIPO */

.banner img{
    text-align: center;
    height: auto;
    max-width: 100%;
}

#texto ul li {
    margin: 0.5em;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1em
}

.escribime {
    font-family: 'Lobster', cursive;
}

.barby {
    text-align: center;
    margin-top: 1rem;
}

.row {
    justify-content: center;
}

/* FIN SUMATE A MI EQUIPO*/