

/* SUMATE A MI EQUIPO */

.banner img{
    text-align: center;
    height: auto;
    max-width: 100%;
    margin-top: $spacing-small;
}

#texto {
    text-decoration: none;
    font-family: map-get($fonts, primaria);
    font-size: $text-small;
    padding: $spacing-medium;
    border: 2px solid crimson;
    margin: $spacing-small
}

.escribime {
    font-family: map-get($fonts, secundaria);
    text-align: center;
    padding: $spacing-medium;
}

.barby {
    text-align: center;
    margin-top: $spacing-xsmall;
}

.row {
    justify-content: center;
    font-size: $text-medium;
}

/* FIN SUMATE A MI EQUIPO*/