/* MEDIA QUERIES */

@media screen and (max-width:800px) {
    header {
        flex-direction: column;
    }  
    header .menu .menu__link {
        font-size: $text-small;
    }
    .header__img {
     width: 100px;
     } 
     
     .form-inline {
        flex-direction: column;
        align-items: center;
     }

     input {
         font-size: $text-small;
     }

    #exampleInputEmail2 {
     margin-left: 2rem;
    }
     
     .form-control {
        padding: 5px;
    }
    .copyright {
        font-size:$text-small;
    }

    #texto {
        font-size: $text-small;
    }

    .sobremi {
        font-size: $text-small;
    }

     }
 

@media screen and (max-width:600px){
    header {
        flex-direction: column;
    }  

   header nav .menu {
       flex-direction: column;
       align-items: center;
       gap: 0    
   }
   header .menu .menu__link {
       font-size: $text-small;
   }

   .header__img {
    width: 100px;
    }   

    .form-inline {
        flex-direction: column;
        align-items: center;
     }

    input {
        font-size: $text-xsmall;
    }

    #exampleInputEmail2 {
        margin-left: 2rem;
       }

    .form-control {
        padding: 2.5px;
    }

   .copyright {
       font-size: $text-xsmall;
       text-align: center;
   }

   #texto {
    font-size: $text-xxsmall;
    padding: $spacing-xsmall;
    border: 2px solid crimson;
    margin: $spacing-small
   }

   .sobremi {
    font-size: $text-xsmall;
    display: flex;
    padding: $spacing-xsmall;
    border: 2px solid crimson;
    margin: $spacing-small;
   }

   .fotobarby {
    justify-content: center;
   }

   .dulce {
    font-size: $text-medium;
   }

   .row {
    font-size: $text-small;
   }
 }
 /* FIN MEDIA QUERIES  */