/* Normalize */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family:$font-primary;
}

ul { 
    list-style-type: none;
}

body a {
    font-family: $font-primary; 
} 

.menu .menu__link {
    font-size: $spacing-small;
    text-decoration: none;
    color: $text-color;
}