// /* COLORS */

$primary: #ffedeb;
$secondary: #f291df;
$text-color: #2b2b2b;

// /--Spacings--/
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall:1rem;

// /FONTS FAMILY/
$font-primary: 'Poppins', sans-serif; 
$font-secondary: 'Lobster', cursive;

// /--Font-Sizes--/
$text-large:5.2em;
$text-medium:2em;
$text-base:1.6em;
$text-small:1.4em;
$text-xsmall: 1em;
$text-xxsmall: 0.5em;

// MAPS
$fonts: (
    primaria: 'Poppins',
    secundaria: 'Lobster',
);
